<!DOCTYPE html>
<html>
{{>header}}
<body>
{{>nav}}
  <div class="container mt-4">
      <!-- The Button for added modal -->
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addModel">Add note</button>
      <br>
       <!--  -->
      {{#notes}}
            <div class="card card-body bg-light">
              <h4> {{name}}<button class="btn btn-outline-primary float-right" type="button" data-toggle="collapse" data-target="#notes_{{id}}" aria-expanded="false" aria-controls="collapseExample">
                  view
                </button>
                </h4>
              
              <div class="collapse" id="notes_{{id}}">
                <div class="card card-body">
                  {{description}}
                 </div>
                 <br>
                 <br>
                  <button type="button" class="btn btn-outline-success"  data-toggle="modal"  data-name ="{{name}}" data-description=" {{description}}" data-target="#editModel">Edit</button>
                  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModel">Delete</button>
              </div>
            </div> 
            <br>
            {{>addModal}}  
            {{>editModal}} 
            {{>deleteModal}} 
      {{/notes}}
  </div>
<!-- Modal for button add note -->
{{>footer}}  
</body>
</html> 